@import '../all.scss';

.product-window {
    width: 90%;
    margin: 0 auto 30px;

    @media (min-width: $tablet) {
        width: calc(100% / 2 - 50px);
    }

    @media (min-width: $desktop) {
        width: calc(100% / 4 - 30px);
        margin: 0;
    }

    @media (min-width: $xlDesktop) {
        width: calc(100% / 4 - 60px);
        margin: 0;
    }

    .product-image {
        width: 100%;
        height: 280px;
        border-radius: 300px 300px 0 0;
        background: $beige;
        margin: auto;

        @media (min-width: $desktop) {
            height: 330px;
        }

        @media (min-width: $xlDesktop) {
            height: 390px;
        }
    }

    .product-info {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        p {

            &:nth-of-type(even) {
                text-align: right;
            }
        }
    }
}